.typewriter {
  font-family: monospace;
  font-size: 2rem;
  color: white; 
}

.cursor {
  background: linear-gradient(to right, #a855f7, #6366f1); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

