.techStackContainer{
    padding: 2rem;
    text-align: center;
    

}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    
  }
  
  .card {
    display: flex;
    width: 10rem;
    flex-direction: column;
    cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #1c1c28;
  transition: transform 0.2s;
  box-shadow: 0 0 20px 5px rgba(164, 66, 255, 0.38); 
}
.icon:hover{
    filter: drop-shadow(0 0 20px #7d75caac);
     transform: scale(1.05);  
}
.label {
  margin-top: 0.5rem;
  font-weight: bold;
}
