.home_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  padding: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .home_cont {
    flex-direction: row;
    justify-content: space-between;
  }
}

.home_gif img {
  padding-top: 2rem;
  height: 15rem;
  width: 15rem;
  max-width: 100%;
}

@media (min-width: 768px) {
  .home_gif img {
    padding-top: 4rem;
    padding-right: 3rem;
    height: 25rem;
    width: 25rem;
  }
}

.home_gif {
  animation: slide_right 1s forwards;
}

.home_left {
  display: flex;
  flex-direction: column;
  animation: slide_left 1s forwards;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .home_left {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

.white-text {
  color: white;
  font-size: 2.5rem;
}

.gradient {
  font-size: 2.5rem;
  background: linear-gradient(90deg, #a446ff, #6a60ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .white-text,
  .gradient {
    font-size: 4rem;
  }
}

.home_left_button {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .home_left_button {
    justify-content: start;
  }
  .social-buttons{
    justify-content: center;
  }
}

.home_left_button button {
  cursor: pointer;
  border: 1px solid #444;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.3s;
  box-shadow: 0 0 20px 5px rgba(164, 66, 255, 0.4);
  background-color: rgba(3, 0, 20, 255);
}

.home_left_button button:hover {
  box-shadow: 0 0 25px 10px rgba(164, 66, 255, 0.6);
}
.social-buttons {
  display: flex;
  justify-content: center;    /* Default for small screens */
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .social-buttons {
    justify-content: flex-start;   /* Left-align on larger screens */
  }
}



.social-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid #444;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(164, 66, 255, 0.4);
  transition: 0.3s ease;
}

.social-buttons button:hover {
  box-shadow: 0 0 25px 10px rgba(164, 66, 255, 0.6);
}

.social-buttons i {
  pointer-events: none;
  font-size: 1.5rem;
}
