.home_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.home_gif img {
    padding-top: 4rem;
    padding-right: 3rem;
    height: 25rem;
    width: 25rem;

}

.home_left{
    display: flex;
    flex-direction: column;

}

.tagline {
  background: linear-gradient(to right, #7f5af0, #6246ea);
  padding: 8px 16px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.875rem;
  color: white;
  border: none;
  width: fit-content;
  box-shadow: 0 0 10px rgba(127, 90, 240, 0.5);
}

.home_left_button {
  display: flex;
  gap: 1rem;
}

.white-text {
  color: white;
  font-size: 4rem;
}

.gradient {
  font-size: 4rem;
  background: linear-gradient(90deg, #a446ff, #6a60ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}


.home_left_button button{
  border: 1px solid #444;
  padding: 15px 30px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 0 20px 5px rgba(164, 66, 255, 0.4);
  background-color: rgba(3,0,20,255);
}

.home_left_button button:hover{
   box-shadow: 0 0 25px 10px rgba(164, 66, 255, 0.6);
}

.social-buttons {
  display: flex;
}
.social-buttons button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem; 
  color: white;
  font-size: 25px;
  padding: 15px 20px;
  border: 1px solid #444; 
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(164, 66, 255, 0.4);
}

.social-buttons button:hover {
   box-shadow: 0 0 25px 10px rgba(164, 66, 255, 0.6);
}

.social-buttons i {
  pointer-events: none; 
}
