.main{
  padding-left: 8rem;
  padding-right: 10rem;
  padding-top: 1rem;
}


/* .glowing-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
  border-radius: 50%;
  background: rgba(164, 66, 255, 0.3); 
  box-shadow: 0 0 20px 8px rgba(164, 66, 255, 0.5);
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: background 0.2s ease, transform 0.05s ease;
} */
