html,body {
  margin: 0;
  padding: 0;
}
.main{
  padding-left: 8rem;
  padding-right: 10rem;
  padding-top: 1rem;
   background-color: rgba(3,0,20,255);
}


.cursor-trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(180, 140, 255, 0.7); 
  pointer-events: none;
  animation: dot-animation 0.6s ease-out;
}

@keyframes dot-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}